.device-toggle-button {
  width: 100%;
  height: 100px;
  padding: 10px;
  /* Optional: Add padding for visual space inside the button */
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
}

.device-toggle-name {
  text-transform: uppercase;
}

.device-toggle-status {
  text-transform: uppercase;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 700px) {
  .device-toggle-name {
    font-size: 1.2rem;
  }

  .device-toggle-status {
    font-size: 0.8rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .device-toggle-name {
    font-size: 1.4rem;
  }

  .device-toggle-status {
    font-size: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .device-toggle-name {
    font-size: 1.2rem;
  }

  .device-toggle-status {
    font-size: 0.8rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .device-toggle-name {
    font-size: 1.2rem;
  }

  .device-toggle-status {
    font-size: 1rem;
  }
}